# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [56]:
# your code here
import pandas as pd

In [57]:
data= pd.read_csv('tic-tac-toe.csv')
data.head()

  TL TM TR ML MM MR BL BM BR  class
0  x  x  x  x  o  o  x  o  o   True
1  x  x  x  x  o  o  o  x  o   True
2  x  x  x  x  o  o  o  o  x   True
3  x  x  x  x  o  o  o  b  b   True
4  x  x  x  x  o  o  b  o  b   True

2. Inspect the datset

In [58]:
data.isna().sum()

TL       0
TM       0
TR       0
ML       0
MM       0
MR       0
BL       0
BM       0
BR       0
class    0
dtype: int64

In [59]:
data.dtypes

TL       object
TM       object
TR       object
ML       object
MM       object
MR       object
BL       object
BM       object
BR       object
class      bool
dtype: object

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TL      958 non-null    object
 1   TM      958 non-null    object
 2   TR      958 non-null    object
 3   ML      958 non-null    object
 4   MM      958 non-null    object
 5   MR      958 non-null    object
 6   BL      958 non-null    object
 7   BM      958 non-null    object
 8   BR      958 non-null    object
 9   class   958 non-null    bool
dtypes: bool(1), object(9)
memory usage: 68.4+ KB

In [61]:
columns=data.columns

for i in columns:
    print(data[i].value_counts())

x    418
o    335
b    205
Name: TL, dtype: int64
x    378
o    330
b    250
Name: TM, dtype: int64
x    418
o    335
b    205
Name: TR, dtype: int64
x    378
o    330
b    250
Name: ML, dtype: int64
x    458
o    340
b    160
Name: MM, dtype: int64
x    378
o    330
b    250
Name: MR, dtype: int64
x    418
o    335
b    205
Name: BL, dtype: int64
x    378
o    330
b    250
Name: BM, dtype: int64
x    418
o    335
b    205
Name: BR, dtype: int64
True     626
False    332
Name: class, dtype: int64

3. Convert the categorical values to numeric in all columns

In [62]:
data=data.replace('x','1').replace('o','2').replace('b','0')

In [63]:
for i in columns:
    data[i]=pd.to_numeric(data[i])

In [64]:
data.dtypes

TL       int64
TM       int64
TR       int64
ML       int64
MM       int64
MR       int64
BL       int64
BM       int64
BR       int64
class     bool
dtype: object

4. Separate the inputs and output

In [65]:
#Inputs

X=data.drop('class', axis=1)

In [66]:
X

     TL  TM  TR  ML  MM  MR  BL  BM  BR
0     1   1   1   1   2   2   1   2   2
1     1   1   1   1   2   2   2   1   2
2     1   1   1   1   2   2   2   2   1
3     1   1   1   1   2   2   2   0   0
4     1   1   1   1   2   2   0   2   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..
953   2   1   1   1   2   2   2   1   1
954   2   1   2   1   1   2   1   2   1
955   2   1   2   1   2   1   1   2   1
956   2   1   2   2   1   1   1   2   1
957   2   2   1   1   1   2   2   1   1

[958 rows x 9 columns]

In [67]:
#Outputs
y=data['class']
y

0       True
1       True
2       True
3       True
4       True
       ...
953    False
954    False
955    False
956    False
957    False
Name: class, Length: 958, dtype: bool

5. Normalize the input data

In [68]:
import sklearn
from sklearn.preprocessing import MinMaxScaler

In [69]:
X_norm= pd.DataFrame(MinMaxScaler().fit_transform(X),columns=columns[:9])

In [70]:
X_norm

      TL   TM   TR   ML   MM   MR   BL   BM   BR
0    0.5  0.5  0.5  0.5  1.0  1.0  0.5  1.0  1.0
1    0.5  0.5  0.5  0.5  1.0  1.0  1.0  0.5  1.0
2    0.5  0.5  0.5  0.5  1.0  1.0  1.0  1.0  0.5
3    0.5  0.5  0.5  0.5  1.0  1.0  1.0  0.0  0.0
4    0.5  0.5  0.5  0.5  1.0  1.0  0.0  1.0  0.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...
953  1.0  0.5  0.5  0.5  1.0  1.0  1.0  0.5  0.5
954  1.0  0.5  1.0  0.5  0.5  1.0  0.5  1.0  0.5
955  1.0  0.5  1.0  0.5  1.0  0.5  0.5  1.0  0.5
956  1.0  0.5  1.0  1.0  0.5  0.5  0.5  1.0  0.5
957  1.0  1.0  0.5  0.5  0.5  1.0  1.0  0.5  0.5

[958 rows x 9 columns]

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

1. Split the training and test data

In [91]:
#!pip install tensorflow

In [71]:
import tensorflow as tf
print(tf.__version__)

2.9.1

In [72]:
from sklearn.model_selection import train_test_split

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X_norm, y)

2. Create a Sequential model

In [74]:
from tensorflow.keras.models import Sequential

In [23]:
model = tf.keras.models.Sequential()

In [24]:
model.add(tf.keras.layers.Flatten())

3. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.

In [25]:
model.add(tf.keras.layers.Dense(35, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(35, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(2, activation=tf.nn.softmax))

4. Compile the model using adam as the optimizer and sparse_categorical_crossentropy as the loss function. For metrics, use accuracy for now.

In [26]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

5. Fit the training data

In [27]:
model.fit(X_train,y_train, epochs=3)

Epoch 1/3
23/23 [==============================] - 0s 1ms/step - loss: 0.7365 - accuracy: 0.4666
Epoch 2/3
23/23 [==============================] - 0s 987us/step - loss: 0.6666 - accuracy: 0.6462
Epoch 3/3
23/23 [==============================] - 0s 1ms/step - loss: 0.6539 - accuracy: 0.6462

6. Evaluate your neural network model with the test data.

In [28]:
val_loss, val_acc = model.evaluate(X_test, y_test)
print(val_loss)
print(val_acc)

8/8 [==============================] - 0s 3ms/step - loss: 0.6395 - accuracy: 0.6750
0.6395339965820312
0.675000011920929

7. Save your model as tic-tac-toe.model

In [29]:
model.save('tic-tac-toe.model')

INFO:tensorflow:Assets written to: tic-tac-toe.model\assets

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [30]:
# your code here
new_model=tf.keras.models.load_model('tic-tac-toe.model')

In [36]:
X_test[:5]

      TL   TM   TR   ML   MM   MR   BL   BM   BR
605  0.0  0.0  0.5  0.0  1.0  0.5  1.0  0.0  0.5
37   0.5  0.5  0.5  1.0  0.0  1.0  0.5  1.0  0.0
112  0.5  0.5  0.0  0.0  0.5  1.0  1.0  1.0  0.5
241  0.5  0.0  1.0  0.5  0.5  0.5  0.0  1.0  1.0
403  1.0  1.0  0.5  0.0  1.0  0.0  0.5  0.5  0.5

In [32]:
predictions = model.predict(X_test[:5])

1/1 [==============================] - 0s 80ms/step

In [33]:
print(predictions)

[[0.44648272 0.5535172 ]
 [0.35214216 0.6478578 ]
 [0.3540912  0.6459088 ]
 [0.34915936 0.65084064]
 [0.3864914  0.6135086 ]]

In [34]:
import numpy as np

print(np.argmax(predictions, axis=1))

[1 1 1 1 1]

In [37]:
print(X_test[:5])
print(y_test[:5])

      TL   TM   TR   ML   MM   MR   BL   BM   BR
605  0.0  0.0  0.5  0.0  1.0  0.5  1.0  0.0  0.5
37   0.5  0.5  0.5  1.0  0.0  1.0  0.5  1.0  0.0
112  0.5  0.5  0.0  0.0  0.5  1.0  1.0  1.0  0.5
241  0.5  0.0  1.0  0.5  0.5  0.5  0.0  1.0  1.0
403  1.0  1.0  0.5  0.0  1.0  0.0  0.5  0.5  0.5
605    True
37     True
112    True
241    True
403    True
Name: class, dtype: bool

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

Add more layers to your model.

In [75]:
model_2 = tf.keras.models.Sequential()

In [76]:
model_2.add(tf.keras.layers.Flatten())

In [77]:
model_2.add(tf.keras.layers.Dense(35, activation=tf.nn.relu))
model_2.add(tf.keras.layers.Dense(35, activation=tf.nn.relu))
model_2.add(tf.keras.layers.Dense(35, activation=tf.nn.relu))
model_2.add(tf.keras.layers.Dense(2, activation=tf.nn.softmax))

In [78]:
model_2.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [79]:
model_2.fit(X_train,y_train, epochs=3)

Epoch 1/3
23/23 [==============================] - 0s 2ms/step - loss: 0.6803 - accuracy: 0.5529
Epoch 2/3
23/23 [==============================] - 0s 1ms/step - loss: 0.6517 - accuracy: 0.6435
Epoch 3/3
23/23 [==============================] - 0s 1ms/step - loss: 0.6410 - accuracy: 0.6435

In [80]:
val_loss, val_acc = model_2.evaluate(X_test, y_test)
print(val_loss)
print(val_acc)

8/8 [==============================] - 0s 2ms/step - loss: 0.6284 - accuracy: 0.6833
0.6284075379371643
0.6833333373069763

Adjust the learning rate when you compile the model and adjust the number of epoch

In [81]:
#you will create a custom tf.keras.optimizers.Adam instance where you specify the learning rate you want. 
#Then pass the instance to model.compile as the optimizer.


custom_adam= tf.keras.optimizers.Adam(
    learning_rate=0.001,
    beta_1=0.9,
    beta_2=0.999,
    epsilon=1e-07,
    amsgrad=False,
    name='Adam'
)

In [82]:
model_2.compile(optimizer=custom_adam,
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [83]:
model_2.fit(X_train,y_train, epochs=8)

Epoch 1/8
23/23 [==============================] - 0s 1ms/step - loss: 0.6339 - accuracy: 0.6448
Epoch 2/8
23/23 [==============================] - 0s 942us/step - loss: 0.6243 - accuracy: 0.6518
Epoch 3/8
23/23 [==============================] - 0s 1ms/step - loss: 0.6122 - accuracy: 0.6602
Epoch 4/8
23/23 [==============================] - 0s 1ms/step - loss: 0.5993 - accuracy: 0.6783
Epoch 5/8
23/23 [==============================] - 0s 1ms/step - loss: 0.5850 - accuracy: 0.6797
Epoch 6/8
23/23 [==============================] - 0s 1ms/step - loss: 0.5671 - accuracy: 0.7033
Epoch 7/8
23/23 [==============================] - 0s 1ms/step - loss: 0.5509 - accuracy: 0.7061
Epoch 8/8
23/23 [==============================] - 0s 1ms/step - loss: 0.5303 - accuracy: 0.7117

In [84]:
val_loss, val_acc = model_2.evaluate(X_test, y_test)
print(val_loss)
print(val_acc)

8/8 [==============================] - 0s 2ms/step - loss: 0.5553 - accuracy: 0.7208
0.5553131699562073
0.7208333611488342

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# your answer here